* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://image.tmdb.org/t/p/original/xJHokMbljvjADYdit5fK5VQsXEG.jpg");
  line-height: 1.2;
}

header {
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding-top: 16px;
  width: 80%;
  margin-bottom: 28px;
}
.imgBOX {
  width: 40%;
  display: flex;
}

.iconImg {
  /* position: absolute; */
  width: 100%;
  max-width: 140px;
  /* left: 50px; */
}

.searchBar {
  /* position: relative; */
  outline: none;
  width: 60%;
}

input {
  /* position: absolute; */
  /* width: 450px; */
  right: 150px;
  top: 28px;
  padding: 5px 10px 10px 10px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: #f9f9f9;
  justify-content: center;
}

.moviewTextInfo,
.companies {
  color: #f9f9f9;
  margin-bottom: 20px;
  background: none;
  outline: none;
  border: none;
}

section {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.posterBox {
  width: 40%;
  display: flex;
  justify-content: end;
  object-fit: contain;
}

h1 {
  color: #f9f9f9;
  font-size: 40px;
  padding: 12px 0px;
}

h3 {
  color: #08e087;
}

.poster {
  width: 100%;
}

.info {
  width: 60%;
  padding: 0 25px;
  background-color: rgba(0, 0, 0, 0.5);
}
.smalltitles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

.smalltitle {
  color: #f9f9f9;
  font-size: 18px;
}
.movieData {
  color: #08e087;
  font-size: 28px;
}

#searchButton {
  background-color: black;
  color: white;
  align-items: baseline;
  padding: 8px 16px;
  border: 0.5px solid white;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  header {
    width: 50%;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .posterBox {
    width: 60%;
    display: flex;
  }

  .poster {
    justify-items: center;
  }
}

@media screen and (max-width: 804px) {
  .h1title {
    font-size: 25px;
  }

  .movieData {
    font-size: 20px;
  }
}

@media screen and (max-width: 489px) {
  .posterBox {
    width: 100%;
  }
  .info {
    width: 100%;
  }
  .h1title {
    font-size: 25px;
  }
  .h3tag {
    font-size: 12px;
  }

  .movieData {
    font-size: 10px;
  }

  .movieData {
    font-size: 8px;
  }
  .ptag {
    font-size: 6px;
  }
  .posterBox {
    height: 10%;
  }
}

@media screen and (max-width: 394px) {
  header {
    position: relative;
    margin-bottom: 6px;
  }
  .iconImg {
    position: absolute;
    left: -25px;
    bottom: 20px;
    width: 50%;
  }

  .h1title {
    font-size: 20px;
  }
  .h3tag {
    font-size: 18px;
  }
  header {
    width: 60%;
  }
  #searchButton {
    margin-left: 90px;
    margin-top: 5px;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ptag {
    font-size: 12px;
  }

  .posterBox {
    width: 90%;
    display: flex;
    /* height: 10%; */
  }

  .poster {
    justify-items: center;
  }
  .info {
    width: 90%;
  }
  input {
    width: 163px;
  }

  .movieData {
    font-size: 15px;
  }
  .smalltitles {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 428px) and (max-width: 767px) {
  .posterBox {
    width: 100%;
  }
  header {
    position: relative;
    display: flex;
  }

  .iconImg {
    padding-right: 10px;
    position: absolute;
    left: -62px;
    top: 20px;
  }

  #searchButton {
    position: relative;
    margin-left: 110px;
    left: 9px;
    bottom: 4px;
  }
  .searchBar {
    position: relative;
  }
  .input {
    position: absolute;
    right: -60px;
  }
  .info {
    width: 100%;
  }
  .h1title {
    font-size: 25px;
  }
  .h3tag {
    font-size: 23px;
  }
  .movieData {
    font-size: 20px;
  }
  .ptag {
    font-size: 15px;
  }

  .smalltitles {
    margin-bottom: 20px;
  }
}
